#|===========================|#
#|
#|  Ignore Temporary Folders
#|  Name: 'temp'
**/*.temp*/*
**/*.temp/*
**/*temp*/*
**/*temp/*
**/.temp*/*
**/.temp/*
**/temp*/*
**/temp/*

#Name: 'tmp'


#===========================
#Ignore Temporary Files
